<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>url shorten service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/uikit.min.css">
    <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <script>
        const copyToClipboard = str => {
            const el = document.createElement('textarea');
            el.value = str;
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
        };

        $(function () {
            var $dropdown = UIkit.dropdown('.uk-dropdown', {});
            $("#copy_shorter_url").click(function () {
                copyToClipboard($("#shorten_url_id").attr("href"));
                UIkit.notification('Copy to paste success! \n' + $("#shorten_url_id").attr("href"));
            });
            $("#submitBtn").click(function () {
                var url = $("#myInput").val();
                var endPoint = 'https://mv0kavnk18.execute-api.us-east-2.amazonaws.com/staging';
                $.post(endPoint,
                    JSON.stringify({ "original_url": url }),
                    function (data, status, jqXHR) {
                        var newUrl = endPoint + "/" + data.Id;
                        $("#shorten_url_id").attr("href", newUrl);
                        $("#shorten_url_id").text(newUrl);
                        console.log(data);
                        $dropdown.show();
                    });
            });
            $("form").submit(function (event) {
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
    <div id="main" class='uk-container uk-container-small'>
        <div class="uk-flex uk-flex-center uk-position-center">
            <form class="uk-grid-small" uk-grid>
                <div class="uk-width-large">
                    <input id="myInput" class="uk-input" type="text" placeholder="Url to shorten">
                </div>
                <div class="uk-width-auto">
                    <button id="submitBtn" class="uk-button uk-button-primary">Submit</button>
                </div>
                <div class="uk-width-1-1">
                    <div class="uk-margin-top" uk-dropdown="mode:click">
                        <div>
                            <div uk-grid>
                                <div class="uk-width-auto">
                                    <a id="shorten_url_id" href=""></a>
                                </div>
                                <div class="uk-width-auto">
                                    <button id="copy_shorter_url" class="uk-button uk-button-primary">Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>